$base-text-size: 16px;
$base-font-family: sans-serif;

@mixin reset-list {
  padding-left: 0;

  li {
    list-style: none;
  }
}

@mixin full-height {
  height: 100%;

  body,
  #root {
    min-height: 100%;
  }
}

$niceWhite: #f7f7f7;
$niceBlack: rbga(0, 0, 0, 0.6);

$mainFont: 'Roboto Slab';
